/*
    Document   : labs/cst336_lab2/css/styles．css
    Created on : 2015-02-11 06:34 PM
    Author     : rusc4767
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

#wrapper{
     width: 700px;
     margin: auto;
     background: green;
     padding: 10px;
     border-radius: 15px;

 }

h1{
    
}

div #game
table, tr, td{
    
}

#rules{
}

h3{
    
}
p{
    
}