/*
    Document   : labs/cst336_lab2/css/styles．css
    Created on : 2015-02-11 06:34 PM
    Author     : rusc4767
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}